@model ClientSearchViewModel

<div>
    <h3>Персональная подборка клиента</h3>
</div>
@if (Model.ToursArchive != null)
{
    <div>
        @await Html.PartialAsync("../Shared/ToursResult", Model.Tours);
    </div>
}