@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authorization</title>
</head>
<body>
    <div>
        <p>Вы успешно авторизоавались!</p>
    </div>
</body>
</html>
