@{
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>TravelAgency</title>
</head>
<div>
    <h4>Вход в систему TravelAgency</h4>
</div>
<div>@ViewBag.Message</div>
<div class="center">
    <form class="form_auth_style" action="" method="post">
        <div>
            <ul>
                <li>
                    <div class="form-el">Введите Ваш логин</div>
                </li>
                <li>
                    <div>
                        <input type = "text" name="login" placeholder="логин" required>
                    </div>
                </li>
                <li>
                    <div>Введите Ваш пароль</div>
                </li>
                <li>
                    <div>
                        <input type="password" name="password" placeholder="пароль" required>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <button class="form_auth_button">Войти</button>
                    </div>
                </li>
            </ul>
        </div>
        
    </form>
</div>

<style>
    h4{
        text-align: center;
    }
    .form{
        text-align:center;
    }
    ul {
        list-style-type: none;
        margin: 10px;
    }
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        min-height: 30vh;
        
    }
    .button{
        text-align:center;
        margin: 10px;
    }
</style>