<h1>Описание проекта</h1>

<p>Данное приложение предназначено для поиска туров в туристическом агентстве</p>
<h1>Основные функции приложения:</h1>
<ul>
    <li>Поиск туров по заданным критериям и фильтрам</li>
    <li>Поиск туров с помощью анкетирования клиента с выводом подборки</li>
    <li>Персональный поиск тура для постоянного клиента</li>
    <li>Автоматическая загрузка данных по турам</li>
    <li>Бизнес аналитика</li>
</ul>
